{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <link rel="stylesheet" href=""/>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery.idcode.css' %}"/>

    <script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.idcode.js' %}"></script>

</head>
<body>

<div class="register_head">
    <div class="registerh_con">
        <div class="registerhc_left">
            <span class="logo"><img src="{% static 'img/register/QQ图片20160909171624_23.gif' %}"></span>
            <span class="register"><img src="{% static 'img/register/welcome_07.jpg' %}">	</span>
        </div>
        <div class="registerhc_right">

        </div>
    </div>
</div>

<div class="register_middle">
    <div class="registerm_con">
        <div class="login">
            <div class="text">
                <p id="p1"><a href="{% url 'app:homepage' 0 %}">首页</a></p>
                <p id="p2"><a href="{% url 'app:login' %}">已有账号,去登录</a></p>
            </div>
            <form action="{% url 'app:register' %}" method="post">
                {% csrf_token %}
                <div class="text">
                    <span>注册用户名：</span>
                    <input type="text" placeholder="用户名(长度6~20),字母/数字/字母和数字..." name="name">
                    {% if err1 %}
                        <span style="color: red;">{{ err1 }}</span>
                    {% endif %}
                </div>
                <div class="text">
                    <span>邮箱：</span>
                    <input type="text" placeholder="邮箱,如1@qqcom" name="email">
                </div>
                <div class="text">
                    <span>设置密码：</span>
                    <input type="password" placeholder="密码(长度6~12),字母/数字/字母和数字..." name="password1">
                </div>
                <div class="text">
                    <span>验证密码：</span>
                    <input type="password" placeholder="两次密码需保持一致" name="password2">
                    {% if err2 %}
                        <span style="color: red;">{{ err2 }}</span>
                    {% endif %}
                </div>
                <div class="text">
                    <span></span>
                    <input type="submit" value="注册">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="registery_footer">
    <div class="footer_list">
        <ul>
            <li><a href="#">E宠商城</a></li>
            <li><a href="#">淘宝</a></li>
            <li><a href="#">知识</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">游戏</a></li>
        </ul>
        <p>渝ICP备13005525号-2 渝ICP备 10002905 增值电信业务经营许可证：渝B2-20140042 Copyright © 2007-2016 epet.com 重庆易宠科技有限公司</p>
    </div>
</div>


</body>
</html>
